@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --text-color: #fff;
  --background-color: #101010;
  --section-color: #222222;
}

html,
body {
  width: 100%;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  height: 100%;
}

.section {
  background-color: var(--section-color);
}

table a:hover {
  opacity: 80%;
}
